@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

*{
    scrollbar-width: none;
}
.overflow-scroll::-webkit-scrollbar {
    display: none;
}

/* .input-error{
    display: flex;
    color:red
} */
 *:focus{
    outline: none;
 }

table, .head, td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

.main-page-banner{
    background-image: url("https://media.istockphoto.com/id/1232401725/photo/table-scene-of-assorted-take-out-or-delivery-foods-top-down-view-on-a-dark-wood-banner.jpg?s=612x612&w=0&k=20&c=kATZRUmpgZHYxOAC7nVHPm5HRDr_BCfaLMr5nko_0Eg=");
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

.location-list li{
    width: auto;
    border-bottom: 1px solid #7D5A50;
    cursor: pointer;
    padding: 5px;
    /* position: absolute; */
    /* top: 30rem; */
}